{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}


{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container col-md-4 text-center mt-5">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Add User</h3>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
                {{ form_row(registrationForm.userdetail.name) }}
        {{ form_row(registrationForm.userdetail.age) }}
        {{ form_row(registrationForm.userdetail.address) }}
        {{ form_row(registrationForm.userdetail.Phone) }}
        {{ form_row(registrationForm.userdetail.image) }}
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
