{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
<table class="table table-light">
    <tr>
        <th colspan="6">
            <h1 class="text text-primary">Subject</h1>
        </th>
        <th>
            <a class="text-decoration-none" href="{{ path('subject_add') }}">
                <img src="{{ asset('button/add3.png') }}" width="40" height="40">
            </a>
        </th>
    </tr>
    <tr>
        <th class="text text-success">ID</th>
        <th class="text text-success">Subject Code</th>
        <th class="text text-success">Subject Name</th>
        <th class="text text-success">Subject Fee</th>
        <th class="text text-success">Subject Start Date</th>
        <th class="text text-success">Subject End Date</th>
        <th class="text text-success">Actions</th>
    </tr>

{% for subject in subj %}
    <tr>
        <td>{{ subject.id }}</td>
        <td>{{ subject.subjectcode }}</td>
        <td>{{ subject.subjectname }}</td>
        <td>{{ subject.sunjectfee }}</td>
        <td>{{ subject.subjectstartdate | date('d/m/Y') }}</td>
        <td>{{ subject.subjectenddate | date('d/m/Y') }}</td>
        <td>
                <a class="text-decoration-none" href="{{ path('subject_edit', {'id' : subject.id }) }}">
                    <img src="{{ asset('button/edit.png') }}" width="40" height="40">
                </a>
                <a class="text-decoration-none" href="{{ path('subject_delete``', {'id' : subject.id }) }}"
                onclick="return confirm('Are you sure to delete this classroom ?');"
                >
                    <img src="{{ asset('button/delete.png') }}" width="40" height="40">
                </a>
            </td>

    </tr>
{% endfor %}
{% endblock %}